---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>

      <!-- <div style="clear:both;display:block"> -->
        
        <!-- JiaThis Button BEGIN -->
        <!-- <div class="jiathis_style_32x32" style="">
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_tsina"></a>
        </div> -->
        
      <!-- </div> -->
        
        <!-- JiaThis Button END 

      <script type="text/javascript" >
        var jiathis_config={
          data_track_clickback:true,
          summary:"",
          shortUrl:false,
          hideMore:true
        }
        </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2071941" charset="utf-8"></script>-->
    </div>
    <div class="post-area post comment">
      <!-- disqus评论框 start -->
      <div id="disqus_thread"></div>
      <!-- disqus评论框 end -->
    </div>
  </div>

  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
</div>